.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}

#active {
    background-color: white;
    color: steelblue;
}

body{
    text-align: center;
}
nav {
    background-color: rgb(13, 139, 161);
    padding: 25px;
  }

a {
  color: white;
  margin: 40px;
  text-decoration: none;
  font-size: 2em;
  }